/* styles for sign in, sign up, and sign out forms */

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-auth {
  width: 70%;
  min-width: 250px;
  max-width: 800px;
  border: var(--evergreen-color) 2px solid;
  background-color: var(--light-cream-color);
  border-radius: 20px;
}

.form-auth h3 {
  color: var(--footer-text-color);
  background-color: var(--light-green-color);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid var(--evergreen-color);
}

.form-auth .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form-auth .form-group div {
  width: 100%;
  margin-top: 20px;
}

.form-auth label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-auth input {
  width: 50%;
  min-width: 130px;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--brown-color);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.form-auth input:focus {
  outline: none;
  border: 2px solid var(--brown-color);
  transform: scale(1.05);
  color: white;
  background-color: var(--light-green-color);
}

.form-auth .form-button {
  text-align: center;
}

.form-auth .form-button Button {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  background-color: var(--light-green-color);
  transition: all 0.3s ease;
}

.form-auth .form-button Button:hover {
  transform: scale(1.05);
}

.form-auth .form-button Button:focus {
  background-color: var(--evergreen-color);
}

.form-auth .form-footer {
  margin-top: 20px;
  text-align: center;
}

.form-auth .form-footer a {
  color: var(--light-green-color);
}

.form-auth .form-footer a:hover {
  text-decoration: underline !important;
}

.auth-container .message {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  font-size: 0.9em;
  margin-bottom: 10px;
}
