/* styles for sign in, sign up, and sign out forms */

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-auth {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  border: var(--brown-color) 2px solid;
  background-color: #f4f4f4;
}

.form-auth h3 {
  color: var(--footer-text-color);
  background-color: var(--light-cream-color);
  padding: 20px;
}

.form-auth .form-group {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-auth .form-group div {
  width: 100%;
  margin-top: 20px;
}

.form-auth label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-auth input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--light-cream-color);
  border-radius: 0.25rem;
}

.form-auth input:focus {
  outline: none;
  border: 2px solid var(--brown-color);
  box-shadow: 0 0 5px var(--light-cream-color);
}

.form-auth .form-button {
  text-align: center;
}

.form-auth .form-button Button {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  background-color: var(--reddish-color);
}

.form-auth .form-footer {
  margin-top: 20px;
  text-align: center;
}

.auth-container .message {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  font-size: 0.9em;
  margin-bottom: 10px;
}
