/*
*  styles for category-related elements
 */
/* styles for list of category */
.category-container{
    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: all 0.6s ease;
    border: 0 solid var(--gold-color);
    display: flex;
    justify-content: flex-start;
}

.default-category-container {
    flex-direction: column;
    max-width: 300px;
}

.category-list {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.category-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    border-right: 1px dotted var(--black-color);
    border-left: 1px dotted var(--black-color);
    margin-bottom: -1px;
    margin-right: 40px;
    height: 35px;
    transition: 0.6s ease all;
}

.category-list a div {
    display: inline-block;
    height: 80%;
}
.category-list a.active {
    background-color: var(--light-green-color);
    color: white;
}

.category-list a span {
    display: inline-block;
    width: 10px;
    height: 100%;
    margin-right: 5px;
    transition: all 0.6s ease;
}

.category-list a.active span {
    background-color: var(--evergreen-color);
}

/* styles for category details*/

.category-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    transition: all 0.6s ease;
}

.hide {
    visibility: hidden;
    opacity: 0 !important;
    max-height: 0 !important;
}

.category-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    min-height: 230px;
}

.category-info {
    width: 60%;
    min-width: 260px;
    max-width: 460px;
}

.category-info div {
    padding: 3px;
}

.category-name {
    min-width: 250px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 6px;
    border-bottom: 1px dotted var(--light-shadow);
}

.category-photo {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 250px;
}
.category-photo img {
    width: 150px;
}

.category-groceries {
    margin-top: 40px;
}