/*
*  styles for grocery-related elements
 */
.grocery-row {
    min-height: 35px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--evergreen-color);
}

.grocery-row-header{
    font-weight: bold;
    font-size: 14px;
    background-color: var(--light-green-color);
    color: white;
    border: 2px solid var(--evergreen-color);
}

.grocery-row-header div {
    height: 100%;
}

.grocery-row div {
    width: 25%;
}