/*
*  styles for grocery-related elements
 */
.grocery-row {
    min-height: 35px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--gold-color);
}

.grocery-row-header{
    font-weight: bold;
    font-size: 14px;
    background-color: #e4f1fe;
}

.grocery-row div {
    width: 25%;
}