/* Styles for the list of courses */
.supplier-container{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.supplier-container > div:nth-child(odd) {
    background-color: var(--light-green-color);
    color: white;
}

.supplier-container > div:nth-child(even) {
    background-color: #888888;
    color: white;
}
.supplier-row {
    width: 100%;
    min-height: 35px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e4f1fe;
}

.supplier-row-header {
    font-weight: bold;
    font-size: 14px;
    color: #22252c;
    border-top: 2px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
}

.supplier-row div {
    flex: 1 1 0;
}


/* styles for details of a specific supplier */

.supplier-detail-container {
    display: flex;
    flex-direction: column;
}

.supplier-detail-row {
    border-top: #b7d2ff solid 0px;
    border-bottom: #b7d2ff solid 1px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.supplier-detail-row div {
    padding: 3px 10px;
}

.supplier-detail-row div:nth-child(1) {
    min-width: 120px;
    text-align: right;
    font-weight: bold;
    border-right: #b7d2ff solid 1px;
}


/* styles for pagination and sorting */
.supplier-pagination-container {
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

.supplier-pagination select {
    font-size: small;
}

.supplier-pagination {
    text-align: right;
    font-size: 0.9em;
    margin-right: 20px;
}

.supplier-pagination  a {
    font-size: smaller;
    border-radius: 3px;
    border: 1px solid #e4f1fe;
    min-width: 20px;
    padding: 1px 6px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.supplier-pagination a:hover {
    background-color: #f8f9fa;
}

.supplier-sorting {
    text-align: right;
    font-size: 0.9em;
}

.supplier-pagination select,
.supplier-sorting select {
    font-size: smaller;
}

/* disable a link*/
a.disabled {
    pointer-events: none;
    color: gray;
    opacity: 0.5;
    cursor: default;
}