/*
 * These styles are available for the entire application.
 */

/* Variables */
:root {
  /* dark shades of primary color*/
  --evergreen-color: #125b33;
  --light-green-color: #00A676;
  --grape-color: #514663;
  --brown-color: #7B6B43;
  --light-cream-color: #E0D0C1;
  --black-color: #222;
  --gold-color: #c59d5f;
  --nav-brand-color: #09814a;
  --footer-text-color: #3b4044;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-secondary);
  background-color: white;
  color: var(--black-color);
  line-height: 1.5;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 55px !important;
}

a {
  text-decoration: none !important;
}

/* navbar styles */
.navbar-custom {
  background-color: var(--grape-color) !important;
}

.navbar-brand {
  color: var(--nav-brand-color) !important;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2em;
}

.nav-separator {
  color: white;
  margin: auto 0.5em;
}

.navbar-name {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.2rem;
}

/*  sticky footer */
footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--light-cream-color);
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  opacity: 0.8;
  color: var(--footer-text-color);
}

/* styles for page content */
.main-heading {
  color: var(--black-color);
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.sub-heading {
  font-family: var(--ff-primary);
  background-color: var(--gold-color);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 20px 5px;
}

.main-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: 0.9em;
}

.box-container {
  display: flex;
  margin-top: 50px;
}

@media (max-width: 920px) {
  .box-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}

.boxy-text {
  border: 2px solid var(--brown-color);
  background-color: var(--light-green-color);
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: 300px;
}

.boxy-text h4 {
  text-align: center;
}

/* styles for the loading image */
.image-loading {
  width: 100%;
  display: flex;
  align-items: center;
}

.image-loading img {
  width: 80px;
}

/* Other styles */
.app-btn {
  width: 70px !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  font-size: 0.85rem !important;
}
